
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #e70000; 
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #000; 
    padding: 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e70000; 
}

h1, h2, h3 {
    color: #e70000; 
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
p a{
    color: #e70000;
    text-decoration: none;
}

footer {
    background-color: #000; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 4px;
}

form button {
    padding: 11px;
    background-color: #e70000; 
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #c70000;
}

 div .blwTableRow > a {
    color: black;
    text-decoration: none;

} 
.blwTableRow > a:hover {
    color: #e70000; 
}
div .blwTeam > a {
    color: #000000;
    text-decoration: none;
}
.blwTeam > a:hover {
    color: #e70000; 
}
.bildlink {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.homebild {
    max-width: 800px;
    height: auto;
    margin: 0 auto 100px;
    display: block;
}
h1.home {
    color: black;
  }


/* Responsive Design */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 0.5rem 0;
    }
}

table {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}